
$col_background_0:rgb(0, 0, 0);
$col_background_1:rgb(165, 212, 218);

body
{
  width: 100vw;
  height: 700vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-color: $col_background_0;
  //background: linear-gradient(180deg, $col_background_0 0%, $col_background_1 90%);
  .moon
  {
    position: fixed;
    width: 10vw;
    height: 20vh;
    left: 40vw;
      -webkit-filter: blur(1px)  drop-shadow(0 0 4px white);
              filter: blur(1px)  drop-shadow(0 0 4px white);
  }
  .land_0
  {
    position: fixed;
    width: 100vw;
    height: auto;
    left: -40vw;
  }
  .land_1
  {
    position: fixed;
    width: 100vw;
    height: auto;
    left: 20vw;
      -webkit-filter: blur(1px);
              filter: blur(1px);
  }
  .land_2
  {
    position: fixed;
    width: 100vw;
    height: auto;
    left: -10vw;
      -webkit-filter: blur(3px);
              filter: blur(3px);
  }
  .mountain_0
  {
    position: fixed;
    width: 40vw;
    height: auto;
    left: 10vw;
  }
  .mountain_1
  {
    position: fixed;
    width: 30vw;
    height: auto;
    left: 50vw;
      -webkit-filter: blur(4px);
              filter: blur(4px);
  }
  .tree_0
  {
    position: fixed;
    width: 20vw;
    height: auto;
    left: -5vw;
      -webkit-filter: blur(4px);
              filter: blur(4px);
  }
  .star
  {
    position: fixed;
    width: 2px;
    height: auto;
      -webkit-filter: blur(1px);
              filter: blur(1px);
  }
}
